*{
    padding: 0;
    margin: 0;
}
@media (max-width:390px) {
.logo{
    width: 108px;
    height: 40px;
    margin-right: 95px;
}
.navs{
    display: none;
}
.nav{
    display: flex;
    width: 349px;
    height: 41px;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 134px;
}
.list-two-nav{
    list-style-type: none;
    display: flex;
    margin-right:30px ;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 349px;
}
.repo{
    display: none;
}
.menu-logo{
    width: 16px;
    height: 14px;
}
a{
    text-decoration: none;
}
.start-mobile{
    background-color:#1C64F2;
    color: #fff;
    font-family: "inter", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 41px;
    border-radius: 50px;
}
.text-sect{
    width: 349px;
    height: 228px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 49px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #111928;
    margin-bottom: 23px;
}
.text-class{
    color: #1C64F2;
}
.little-text{
    width: 350px;
    height: 93px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #4B5563;
    margin-bottom: 45px;
}
.button-center-section{
    margin-left: 17px;
    width: 316px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 147px;
}
.button-one-sect{
    padding: 12px 16px;
    width: 150px;
    height: 41px;
    background: #111928;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}
.button-two-sect{
    width: 150px;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 50px;
    color: #4B5563;
    margin-right: 0;
    margin-left: 17px;
    text-align: center;
}
.button-two-sect-img{
    margin-right: 2px;
    text-align: center;
}
.text-bottom-button{
    text-align: center;
    font-family: "Lexend";
    margin-bottom: 36px;
}
.logos {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
li{
    list-style-type: none;
}
.logo-link-one{
    margin-right: 20px;
}
.links-logo-list{
    margin-bottom: 20px;
}
.text-bottom-logos{
    width: 349px ;
}
.lgs{
    background-color: #216afc;
}
.header-text{
    padding-top: 90px;
    color: #fff;
    font-family: "Lexend";
    font-weight: 400;
    font-size: 33px;
    margin-bottom: 25px;
}
.text-logos{
    color: #fff;
    font-family: "Inter";
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 50px;
}
.text-logos-bottom-text{
    width: 335px;
    height: 81px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #111928;
    margin-top: 60px;
    margin-bottom: 25px;
}
.text-logos-bottom-paragraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #111928;
    margin-bottom: 30px;
}
.edit-css{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.text-header-paragraph{
    padding-top: 108px;
    width: 263px;
    height: 81px;
    font-family: 'Lexend';
    font-weight: 400;
    text-align: center;
    font-size: 27px;
    margin-left: 40px;
    color: #fff;
}
.text-header-paragraph-two{
    color:#fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.01em;
    padding-bottom: 40px;
}
.header-paragraph-text-button{
    color: #111928;
    display: flex;
    justify-content: center;
    padding: 12px 6px;
    background-color: #fff;
    width: 155px;
    margin-left: 90px;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.and{
    padding-bottom: 108px;
}
.text-one-comment-top{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    width: 335px;
    height: 81px;
    font-family: 'Lexend';
    font-weight: 400;
    color: #111928;
    font-size: 30px;
    margin-bottom: 20px;
    align-items: center;
}
.text-two-comment-two{
    width: 340px;
    height: 120px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #111928;
    margin-bottom: 67px;
}
.comment-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    letter-spacing: -0.01em;
    color: #374151;
    margin-bottom: 31px;
    margin-left: 10px;
    margin-right: 10px;
}
.comment-flex{
    display: flex;
    margin-top: 27px;
    margin-left: 10px;
    justify-content: space-between;
    margin-right: 10px;
}
.comment-one{
    width: 350px;
    height: 280px;
    margin-bottom: 24px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;

    padding-top: 20px;
}
.comment-two{
    width: 350px;
    height: 315px;
    margin-bottom: 24px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding-top: 20px;
}
.comment-three{
    width: 350px;
    height: 342px;
    margin-bottom: 24px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding-top: 20px;
}
.comment-four{
    width: 350px;
    height: 261px;
    margin-bottom: 24px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding-top: 20px;
}
.comment-five{
    width: 350px;
    height: 276px;
    margin-bottom: 24px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;

    padding-top: 20px;
}
.comment-six{
    width: 350px;
    height: 276px;
    margin-bottom: 24px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding-top: 20px;}

hr{
    width: 327px;
    margin-left: 10px;
}
h1{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #111928;
}
.comment-comment{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #9CA3AF;
}
.comments{
    margin-bottom: 130px;
}
.subscripe{
    background-color: #10172A;;

}
.subscripe-text{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-top: 86px;
    margin-bottom: 26px;
}
.subscripe-paragraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 50px;
}
.one-dollor{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 28px;
    padding-top: 30px;
    margin-left: 30px;
}
.subscripe-plan-one{
    max-width: 380px;
    height: 572px;
    background: #1C64F2;
    border-radius: 20px;
    margin-left: 5px;
    margin-bottom: 40px;
}
.type-business{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #fff;
    margin-left: 30px;
    margin-bottom: 11px;

}
.paragraph-business{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 30px;
    margin-bottom: 28px;
}
.subscripe-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 300px;
    height: 31px;
    background: #FFFFFF;
    border-radius: 50px;
    color: #10172A;
    background: #FFFFFF;
    border-radius: 50px;
    margin-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #111928;
    margin-bottom: 28px;
}
.subscripe-plan-ds{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    color: #fff;
    margin-bottom: 10px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.nine{
    width: 53px;
    height: 56px;
    color: #fff;
    font-size: 45px;
    font-family: "Lexend";
    margin-left: 40px;
    margin-bottom: 22px;
}
.nine-ds{
    width: 60px;
    height: 23px;
    font-family: "Lexend";
    font-size: 18px;
    color: #fff;
    margin-left: 40px;
    margin-bottom: 11px;
}
.nine-dsc{
    width: 310px;
    height: 58px;
    font-family: "Inter";
    color: #fff;
    opacity: 0.6;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.02em;
    margin-left: 40px;
    margin-bottom: 40px;
}
.button-three{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 310px;
    height: 41px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 34px;
}
.plan-2{
    margin-left: 0;
    margin-left: 40px;
}
.plan-22{
    margin-bottom: 90px;
}
.plan-222{
    padding-bottom: 60px;
}
.questes{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #111928;
    margin-bottom: 20px;
}
.answers{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #111928;
    margin-bottom: 29px;
}
.one-quest{
    margin-top: 80px;
}
.one-answer{
    margin-bottom: 60px;
}
.last-answer{
    margin-bottom: 137px;
}
.last-logo{
    margin-left: 35%;
    margin-bottom: 40px;
}
.last-links{
    margin-right: 37px;
    color: #4B5563;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.one-last-link{
    margin-left: 40px;
}
.twiter{
    margin-top: 120px;
    margin-left: 45%;
    margin-right: 15px;
    margin-bottom: 19px;
}
.git{
    margin-bottom: 19px;
}
.copyright{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B5563;
}
}
@media (max-width:415px) {
    .logo{
        width: 108px;
        height: 40px;
        margin-right: 95px;
    }
    .navs{
        display: none;
    }
    .nav{
        display: flex;
        width: 349px;
        height: 41px;
        margin-top: 20px;
        align-items: center;
        margin-bottom: 134px;
    }
    .list-two-nav{
        list-style-type: none;
        display: flex;
        margin-right:30px ;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 349px;
    }
    .repo{
        display: none;
    }
    .menu-logo{
        width: 16px;
        height: 14px;
    }
    a{
        text-decoration: none;
    }
    .start-mobile{
        background-color:#1C64F2;
        color: #fff;
        font-family: "inter", sans-serif;
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 105px;
        height: 41px;
        border-radius: 50px;
    }
    .text-sect{
        width: 349px;
        height: 228px;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 49px;
        line-height: 57px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #111928;
        margin-bottom: 23px;
    }
    .text-class{
        color: #1C64F2;
    }
    .little-text{
        width: 350px;
        height: 93px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 31px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #4B5563;
        margin-bottom: 45px;
    }
    .button-center-section{
        margin-left: 17px;
        width: 316px;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 147px;
    }
    .button-one-sect{
        padding: 12px 16px;
        width: 150px;
        height: 41px;
        background: #111928;
        border-radius: 50px;
        text-decoration: none;
        color: #fff;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;

    }
    .button-two-sect{
        width: 150px;
        height: 41px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        text-decoration: none;
        background: #FFFFFF;
        border: 1px solid #E5E7EB;
        border-radius: 50px;
        color: #4B5563;
        margin-right: 0;
        margin-left: 17px;
        text-align: center;
    }
    .button-two-sect-img{
        margin-right: 2px;
        text-align: center;
    }
    .text-bottom-button{
        text-align: center;
        font-family: "Lexend";
        margin-bottom: 36px;
    }
    .logos {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    li{
        list-style-type: none;
    }
    .logo-link-one{
        margin-right: 20px;
    }
    .links-logo-list{
        margin-bottom: 20px;
    }
    .text-bottom-logos{
        width: 349px ;
    }
    .lgs{
        background-color: #216afc;
    }
    .header-text{
        padding-top: 90px;
        color: #fff;
        font-family: "Lexend";
        font-weight: 400;
        font-size: 33px;
        margin-bottom: 25px;
    }
    .text-logos{
        color: #fff;
        font-family: "Inter";
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        padding-bottom: 50px;
    }
    .text-logos-bottom-text{
        width: 335px;
        height: 81px;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 33px;
        line-height: 41px;
        letter-spacing: -0.02em;
        color: #111928;
        margin-top: 60px;
        margin-bottom: 25px;
    }
    .text-logos-bottom-paragraph{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: -0.01em;
        color: #111928;
        margin-bottom: 30px;
    }
    .edit-css{
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    }
    .text-header-paragraph{
        padding-top: 108px;
        width: 263px;
        height: 81px;
        font-family: 'Lexend';
        font-weight: 400;
        text-align: center;
        font-size: 27px;
        margin-left: 40px;
        color: #fff;
    }
    .text-header-paragraph-two{
        color:#fff;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.01em;
        padding-bottom: 40px;
    }
    .header-paragraph-text-button{
        color: #111928;
        display: flex;
        justify-content: center;
        padding: 12px 6px;
        background-color: #fff;
        width: 155px;
        margin-left: 90px;
        border-radius: 50px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
    .and{
        padding-bottom: 108px;
    }
    .text-one-comment-top{
        display: flex;
        justify-content: center;
        margin-top: 90px;
        width: 335px;
        height: 81px;
        font-family: 'Lexend';
        font-weight: 400;
        color: #111928;
        font-size: 30px;
        margin-bottom: 20px;
        align-items: center;
    }
    .text-two-comment-two{
        width: 340px;
        height: 120px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: -0.01em;
        color: #111928;
        margin-bottom: 67px;
    }
    .comment-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 31px;
        letter-spacing: -0.01em;
        color: #374151;
        margin-bottom: 31px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .comment-flex{
        display: flex;
        margin-top: 27px;
        margin-left: 10px;
        justify-content: space-between;
        margin-right: 10px;
    }
    .comment-one{
        width: 350px;
        height: 280px;
        margin-bottom: 24px;
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
        border-radius: 10px;

        padding-top: 20px;
    }
    .comment-two{
        width: 350px;
        height: 315px;
        margin-bottom: 24px;
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        padding-top: 20px;
    }
    .comment-three{
        width: 350px;
        height: 342px;
        margin-bottom: 24px;
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        padding-top: 20px;
    }
    .comment-four{
        width: 350px;
        height: 261px;
        margin-bottom: 24px;
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        padding-top: 20px;
    }
    .comment-five{
        width: 350px;
        height: 276px;
        margin-bottom: 24px;
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
        border-radius: 10px;

        padding-top: 20px;
    }
    .comment-six{
        width: 350px;
        height: 276px;
        margin-bottom: 24px;
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        padding-top: 20px;}

    hr{
        width: 327px;
        margin-left: 10px;
    }
    h1{
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #111928;
    }
    .comment-comment{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: -0.01em;
        color: #9CA3AF;
    }
    .comments{
        margin-bottom: 130px;
    }
    .subscripe{
        background-color: #10172A;;

    }
    .subscripe-text{
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 33px;
        line-height: 41px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        padding-top: 86px;
        margin-bottom: 26px;
    }
    .subscripe-paragraph{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        opacity: 0.6;
        padding-bottom: 50px;
    }
    .one-dollor{
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 56px;
        display: flex;
        align-items: flex-end;
        letter-spacing: -0.01em;
        color: #fff;
        margin-bottom: 28px;
        padding-top: 30px;
        margin-left: 30px;
    }
    .subscripe-plan-one{
        max-width: 380px;
        height: 582px;
        background: #1C64F2;
        border-radius: 20px;
        margin-left: 18px;
        margin-bottom: 40px;
    }
    .type-business{
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.03em;
        color: #fff;
        margin-left: 30px;
        margin-bottom: 11px;

    }
    .paragraph-business{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-left: 30px;
        margin-bottom: 28px;
    }
    .subscripe-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        width: 300px;
        height: 31px;
        background: #FFFFFF;
        border-radius: 50px;
        color: #10172A;
        background: #FFFFFF;
        border-radius: 50px;
        margin-left: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #111928;
        margin-bottom: 28px;
    }
    .subscripe-plan-ds{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 25px;
        color: #fff;
        margin-bottom: 10px;
        height: 30px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
    }
    .nine{
        width: 53px;
        height: 56px;
        color: #fff;
        font-size: 45px;
        font-family: "Lexend";
        margin-left: 40px;
        margin-bottom: 22px;
    }
    .nine-ds{
        width: 60px;
        height: 23px;
        font-family: "Lexend";
        font-size: 18px;
        color: #fff;
        margin-left: 40px;
        margin-bottom: 11px;
    }
    .nine-dsc{
        width: 310px;
        height: 58px;
        font-family: "Inter";
        color: #fff;
        opacity: 0.6;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.02em;
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .button-three{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        width: 310px;
        height: 41px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        color: #fff;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-left: 40px;
        margin-bottom: 34px;
    }
    .plan-2{
        margin-left: 0;
        margin-left: 40px;
    }
    .plan-22{
        margin-bottom: 90px;
    }
    .plan-222{
        padding-bottom: 60px;
    }
    .questes{
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 33px;
        line-height: 41px;
        letter-spacing: -0.02em;
        color: #111928;
        margin-bottom: 20px;
    }
    .answers{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: -0.01em;
        color: #111928;
        margin-bottom: 29px;
    }
    .one-quest{
        margin-top: 80px;
    }
    .one-answer{
        margin-bottom: 60px;
    }
    .last-answer{
        margin-bottom: 137px;
    }
    .last-logo{
        margin-left: 35%;
        margin-bottom: 40px;
    }
    .last-links{
        margin-right: 37px;
        color: #4B5563;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .one-last-link{
        margin-left: 40px;
    }
    .twiter{
        margin-top: 120px;
        margin-left: 45%;
        margin-right: 15px;
        margin-bottom: 19px;
    }
    .git{
        margin-bottom: 19px;
    }
    .copyright{
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B5563;
    }
}